# Autotools
/INSTALL
Makefile
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.sub
/config.h.in
/config.h
/config.status
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt*.m4
/missing
/stamp-*
/test-driver
src/*
!src/*.*
test/*
!test/*.*
.deps
*/Makefile.in
Makefile.in
*.log
*.pc
*.o
*.lo
*.la
*/.libs
test/*.zzz
test/*.trs
test/check.*
!test/check.h
*~
# Distributions
*.tar.*
